body{
    background: linear-gradient(180deg, #1E82AD 0%, rgba(13, 101, 139, 0.29) 50%, rgba(30, 130, 173, 0.82) 80.21%), linear-gradient(180deg, #1E82AD 1.26%, rgba(13, 101, 139, 0.29) 50%, rgba(30, 130, 173, 0.82) 80.21%);
    display: inline;
}

.avatarle{
    width: 319px;
height: 364px;
position: absolute;
left: 700px;
}